<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('_welcome') }}">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {#<li><a href="{{ path('blog_index') }}">博客</a></li>#}
                {% if category is not defined %}{% set category = null %}{% endif %}
                {{ render(controller('widget.app.blog_navmenu:recent',{'category':category})) }}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username }}<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_show') }}">用户中心</a></li>
                            <li><a href="{{ path('fos_user_profile_edit') }}">资料编辑</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">密码修改</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">注销账户</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a class="btn btn-default btn-outline btn-circle
                            {% if app.request.attributes.get('_route') == 'fos_user_security_login' %} active{% endif %}
                            {% if app.request.attributes.get('_route') == 'fos_user_registration_register' %} active{% endif %}
                            " href="{{ path('fos_user_security_login') }}">
                            {{ 'layout.login'|trans({}, 'FOSUserBundle') }}/{{ 'layout.register'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>