{% extends "user/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</div>
        <div class="panel-body">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
            <form novalidate action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                <div style="margin-bottom: 12px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" id="username" name="_username"
                           value="{{ last_username }}" required="required"
                           placeholder="{{ 'security.login.username'|trans }}"/>
                </div>
                <div style="margin-bottom: 12px" class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" id="password" name="_password" required="required"
                           placeholder="{{ 'security.login.password'|trans }}"/>
                </div>
                <div style="margin-bottom: 12px" class="input-group">
                    <div class="checkbox" style="margin-top: 0px;">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me"
                                   value="on"/> {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                </div>
                <input type="submit" id="_submit" name="_submit" style="margin-right:15px" class="btn btn-primary"
                       value="{{ 'security.login.submit'|trans }}"/>
                <a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans }}</a>
                <hr style="margin-top:10px;margin-bottom:10px;">
                <div class="form-group">

                    <div style="font-size:85%">
                        还没不是我们的用户?
                        <a href="{{ path('fos_user_registration_register') }}">
                            赶快加入吧
                        </a>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock fos_user_content %}
